<h1>Einloggen</h1>
<%= form_for :user, :url => session_path, :method => :post do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
<br/>
  <%= f.label :password %>
  <%= f.password_field :password %>
<br/>
  <%= f.submit "Login" , :class => "btn btn-primary"%>
<% end %>
