<div class ="lead"> 
	Hier geht es darum, möglichst viele Punkte zu sammeln aus den verschiedenen Bereichen der Informatik.
</div>
<h1>Einloggen</h1>
<%= form_for :user, :url => session_path, :method => :post do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
<br/>
  <%= f.label :password %>
  <%= f.password_field :password %>
<br/>
  <%= f.submit "Anmelden" , :class => "btn btn-primary"%>
<% end %>
<%= render 'highscore' %>
