<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description,"Bescheibung" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :option1,"Antwort 1" %><br />
    <%= f.text_field :option1 %>
  </div>
  <div class="field">
    <%= f.label :option2,"Antwort 2" %><br />
    <%= f.text_field :option2 %>
  </div>
  <div class="field">
    <%= f.label :option3,"Antwort 3" %><br />
    <%= f.text_field :option3 %>
  </div>
  <div class="field">
    <%= f.label :option4,"Antwort 4" %><br />
    <%= f.text_field :option4 %>
  </div>
  <div class="field">
    <%= f.label :option5,"Antwort 5" %><br />
    <%= f.text_field :option5 %>
  </div>
  <div class="field">
    <%= f.label :answer, "Richtige Antwort" %><br />
    <%= f.text_field :answer %>
  </div>
  <div class="field">
    <%= f.label :points, "Punkte" %><br />
    <%= f.number_field :points %>
  </div>
  <div class="field">
    <%= f.label :solution, "Lösung" %><br />
    <%= f.text_area :solution %>
  </div>
  <div class="field">
    <%= f.label :category_id, "Kategorie ID" %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
