<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :option1 %><br />
    <%= f.text_field :option1 %>
  </div>
  <div class="field">
    <%= f.label :option2 %><br />
    <%= f.text_field :option2 %>
  </div>
  <div class="field">
    <%= f.label :option3 %><br />
    <%= f.text_field :option3 %>
  </div>
  <div class="field">
    <%= f.label :option4 %><br />
    <%= f.text_field :option4 %>
  </div>
  <div class="field">
    <%= f.label :option5 %><br />
    <%= f.text_field :option5 %>
  </div>
  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </div>
  <div class="field">
    <%= f.label :points %><br />
    <%= f.number_field :points %>
  </div>
  <div class="field">
    <%= f.label :solution %><br />
    <%= f.text_area :solution %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
