<p id="notice"><%= notice %></p>
<% if params[:post][:answered] == @task.answer.to_s%>
<h2>Die Antwort ist <b>R I C H T I G !</b></h2>
<%= @task.correct_answer %><br/>
<table class="table table-bordered">
<tr><td>Punkte vorher: <span class="badge badge-success pull-right"><%= current_user.points - @task.points %></span></td></tr>
<tr><td>Punkte der Aufgabe: <span class="badge pull-right">+<%= @task.points %></span></td></tr>
<tr><td><strong>Neuer Punktestand: </strong><span class="badge badge-success pull-right"><%= current_user.points %></span></td></tr>
</table>
<% else %>
<h2>Die Antwort ist leider <b>falsch</b></h2>
Die richtige Antwort lautet: <%= @task.correct_answer %><br/>
<% end %>
<br/><br/>
<p><b>Erklärung:</b><br/>
  <%= raw BlueCloth.new(@task.solution).to_html %>
</p>
<br/><br/>
<%= link_to 'Zurück zu Kategorien', categories_path, :class => "btn" %>

<%= link_to ' Nächste Frage', "/categories/#{@task.category_id}/task", :class => "btn btn-success icon-circle-arrow-right icon-white"  %>
