<p id="notice"><%= notice %></p>


  <h2><%= @task.category.name %>: <%= @task.name %></h2>

<p>
  <b>Erreichbare Punkte:</b> <span class="badge"><%= @task.points %></span>
</p>
<div class="row">
	<div class="span7">

<p>
  <%= raw BlueCloth.new(@task.description).to_html %>
</p>
<img src="<%= random_image %>"/>

</div><div class="span3">
<%= form_for(@task, :as => :post, :url => task_path(@task) + '/answer') do |f| %>

  <div class="field">
    <table class="table table-striped">
	<% @task.optionshash.keys.shuffle.each do |key| %>
	    <tr><td><%= f.radio_button("answered", key) %> <%= f.label ("answered_" + key).to_sym, @task.optionshash[key] %></td></tr>
	<% end %>
	</table>
  </div>

  <div class="actions">
    <%= f.submit "Antwort absenden",:class=>"btn btn-success icon-circle-arrow-right icon-white btn-large"  %>
  </div>
<% end %>
</div></div>
