<h1>Liste von Aufgaben</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Beschreibung</th>
    <th>Antwortvorgaben</th>
    <th>Lösung</th>
    <th>Punkte</th>
    <th>Kategorie</th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= raw BlueCloth.new(task.description).to_html %></td>
    <td>
      <ol>
<% task.optionshash.each_key do |k| %>
  <li><% if (k==task.answer) %><b><%= task.optionshash[k] %></b><%else%> <%=task.optionshash[k] %><%end%></li>
<% end %>
      </ol>
	</td>
    <td><%= raw BlueCloth.new(task.solution).to_html %></td>
    <td><%= task.points %></td>
    <td><%= task.category.name %></td>
    <td><%= link_to '', task, :class => "btn icon-eye-open icon-white"  %><br/><br/>
	<% if current_user.is_admin %>
    <%= link_to '', edit_task_path(task), :class => "btn icon-pencil icon-white" %><br/><br/>
    <%= link_to '', task, method: :delete, data: { confirm: 'Bist du sicher?' }, :class => "btn btn-danger icon-white icon-trash" %>
	<% end %>
	</td>
  </tr>
<% end %>
</table>

<br />
<% if current_user.is_admin %>
<%= link_to 'Neue Aufgabe', new_task_path, :class => "btn icon-plus"  %>
<% end %>
