<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= raw BlueCloth.new(@task.description).to_html %>
</p>

<p>
  <b>Antwort:</b>
  <%= @task.answer %>
</p>

<p>
  <b>Punkte:</b>
  <%= @task.points %>
</p>

<p>
  <b>Kategorie:</b>
  <%= @task.category_id %>: <%= @task.category.name %>
</p>

<p>
  <b>Lösung:</b>
  <%= raw BlueCloth.new(@task.solution).to_html %>
</p>


<%= link_to 'Editieren', edit_task_path(@task) %> |
<%= link_to 'Zurück', tasks_path %>
