<p id="notice"><%= notice %></p>

<p>
	<%= gravatar_for @user %>
	</p>

<p>
  <b>Vorname:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Nachname:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Punkte:</b>
  <%= @user.points %>
</p>


<%= link_to 'Editieren', edit_user_path(@user) %> |
<%= link_to 'Zurück zu Kategorien', categories_path %>
