<p id="notice"><%= notice %></p>

<p>
	<%= gravatar_for @user %>
	<small>(<a href="http://de.gravatar.com/">Edit</a>)</small>
	</p>

<p>
  <b>Vorname:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Nachname:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Punkte:</b>
  <%= @user.points %>
</p>

<p>
<% if @user.is_teacher %>
  <b>Schüler:</b>
  <%= raw @user.pupils.map{|p| link_to p.name, user_path(p)}.join(", ") %>
<% else %>
  <b>Lehrer:</b>
  <%= raw @user.teacher ? link_to(@user.teacher.name, @user.teacher) : "KEINER" %>
<% end %>
</p>

<%= link_to 'Editieren', edit_user_path(@user) %> |
<%= link_to 'Zurück zu Kategorien', categories_path %>
