	<h1>Kategorien</h1><br/>
	<p>Wähle eine Aufgabenkategorie aus, in der dir die Fragen gestellt werden.</p>
<table class="table table-striped">


<% @categories.each do |category| %>
  <tr>
    <td><h3><%= category.id %>: <%= category.name %></h3>
    <%= raw BlueCloth.new(category.description).to_html %></td>
    <td><%= link_to 'Fragen', "categories/#{category.id}/task", :class => "btn btn-success icon-circle-arrow-right icon-white"  %>
	<% if current_user.is_admin %>
    <%= link_to 'Anzeigen', category, :class => "btn icon-eye-open icon-white" %>
    <%= link_to 'Bearbeiten', edit_category_path(category), :class => "btn icon-pencil icon-white" %>
    <%= link_to 'Löschen', category, method: :delete, data: { confirm: 'Bist du sicher?' }, :class => "btn btn-danger icon-white icon-trash" %>
	<% end %>
	</td>

  </tr>
<% end %>
</table>

<br />
<% if current_user.is_admin %>
<%= link_to 'Neue Kategorie', new_category_path, :class => "btn icon-plus" %>
<% end %>
