<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @category.description %>
</p>


<%= link_to 'Editieren', edit_category_path(@category) %> |
<%= link_to 'Zurück', categories_path %>
