<!DOCTYPE html>
<html>
<head>
  <title>Emmi und die Informatiker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
		<div class="navbar">
		<div class="navbar-inner">
		<div class="container">	
		<a class="brand" href="#">
	    Emmi und die Informatiker
	    </a>
	<%= link_to 'Benutzer', users_path %> |
	<div class ="pull-right">
	<% if current_user %>
	  <%= link_to current_user.name,user_path(current_user) %>
	<%= link_to " Abmelden" , session_path, :method => :delete, :class => "btn icon-eject"%>
	<% end %>
	</div>
	</div>
	</div>
	</div>
	<div class="row">
	<div class="span1">&nbsp;</div>
	<div class="span10">
	<%= yield %>
	</div></div></body>
</html>
